body {
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
}
.page-top {
  height: 40px;
  background-color: #333333;
}
.page-top .container {
  width: 1226px;
  margin: 0 auto;
  line-height: 40px;
}
.page-top .container .top-lt {
  float: left;
}
.page-top .container .top-lt a {
  float: left;
  font-size: 12px;
  color: #b0b0b0;
}
.page-top .container .top-lt span {
  float: left;
  font-size: 12px;
  color: #424242;
  padding: 0 7px;
  font-family: sans-serif;
}
.page-top .container .top-lt a:hover {
  color: #ffffff;
}
.page-top .container .top-lt .download {
  position: relative;
}
.page-top .container .top-lt .download .down-box {
  display: none;
  position: absolute;
  transition: all 2s;
  width: 126px;
  top: 40px;
  left: 50%;
  margin-left: -63px;
  text-align: center;
  box-shadow: 0 1px 5px #aaa;
  padding-top: 20px;
  background-color: #ffffff;
  z-index: 8;
}
.page-top .container .top-lt .download .down-box img {
  display: block;
  width: 88px;
  height: 88px;
  margin: 0 auto;
}
.page-top .container .top-lt .download .down-box b {
  width: 20px;
  height: 13px;
  background: url(pic/sanjiao.png);
  position: absolute;
  left: 50%;
  top: -13px;
  margin-left: -10px;
}
.page-top .container .top-lt .download .down-box i {
  color: #333333;
}
.page-top .container .top-lt .download:hover .down-box {
  display: block;
}
.page-top .container .top-rt {
  float: right;
}
.page-top .container .top-rt a {
  float: left;
  font-size: 12px;
  color: #b0b0b0;
  padding: 0 .6px;
}
.page-top .container .top-rt span {
  float: left;
  font-size: 12px;
  color: #424242;
  padding: 0 3.6px;
  font-family: sans-serif;
}
.page-top .container .top-rt .shopping-cart {
  width: 120px;
  height: 40px;
  line-height: 40px;
  float: right;
  margin-left: 15px;
  background-color: #424242;
  text-align: center;
  position: relative;
  z-index: 5;
}
.page-top .container .top-rt .shopping-cart a {
  float: none;
  display: block;
}
.page-top .container .top-rt .shopping-cart a em {
  font-size: 18px;
  line-height: 18px;
  margin-left: 4px;
}
.page-top .container .top-rt .shopping-cart a span {
  color: #b0b0b0;
  float: none;
}
.page-top .container .top-rt .shopping-cart .shoppinglist {
  display: none;
  width: 316px;
  height: 80px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  position: absolute;
  right: 0;
  text-align: center;
  line-height: 80px;
}
.page-top .container .top-rt .shopping-cart:hover {
  background-color: #ffffff;
}
.page-top .container .top-rt .shopping-cart:hover .shoppinglist {
  display: block;
}
.page-top .container .top-rt .shopping-cart:hover a {
  color: #ee6700;
}
.page-top .container .top-rt .shopping-cart:hover span {
  color: #ee6700;
}
.page-top .container .top-rt .shopping-cart:hover em {
  color: #ee6700;
}
.page-top .container .top-rt .login {
  float: right;
}
.page-top .container .top-rt .login a.message {
  padding: 0 10px;
}
.header {
  height: 100px;
}
.header .header-content {
  width: 1226px;
  height: 100px;
  margin: 0 auto;
  position: relative;
}
.header .header-content .header-logo {
  position: absolute;
  top: 22px;
  width: 62px;
  height: 55px;
}
.header .header-content .header-logo a {
  display: block;
  height: 55px;
  line-height: 55px;
  width: 55px;
  background-color: #ee6700;
  color: #ffffff;
  font-size: 35px;
  text-align: center;
}
.header .header-content .header-nav {
  position: absolute;
  left: 62px;
}
.header .header-content .header-nav ul {
  line-height: 100px;
  float: left;
}
.header .header-content .header-nav ul li {
  float: left;
  padding: 0 10px;
}
.header .header-content .header-nav ul li a {
  display: block;
  font-size: 16px;
}
.header .header-content .header-nav ul li a:hover {
  color: #df6e2b;
  transition: all 0.4s;
}
.header .header-content .header-nav ul li.all-nav {
  width: 127px;
  height: 100px   ;
  padding: 0 15px 0 30px;
}
.header .header-content .header-nav ul li.all-nav .all-nav-content {
  width: 234px;
  height: 460px;
  position: absolute;
  left: -62px;
  top: 100px;
  background-color: rgba(105, 101, 101, 0.6);
  z-index: 5;
}
.header .header-content .header-nav ul li.all-nav .all-nav-content ul {
  padding: 20px 0;
}
.header .header-content .header-nav ul li.all-nav .all-nav-content ul li {
  float: none;
  width: 234px;
  height: 42px;
  padding: 0;
}
.header .header-content .header-nav ul li.all-nav .all-nav-content ul li a {
  position: relative;
  font-size: 14px;
  color: #ffffff;
  line-height: 42px;
  padding-left: 30px;
}
.header .header-content .header-nav ul li.all-nav .all-nav-content ul li .all-nav-a:hover {
  background-color: #ee6700;
}
.header .header-content .header-nav ul li.all-nav .all-nav-content ul li .all-nav-a:hover + .child-list {
  display: block;
}
.header .header-content .header-nav ul li.all-nav .all-nav-content ul li .child-list:hover {
  display: block;
}
.header .header-content .header-nav ul li.all-nav .all-nav-content ul li em {
  position: absolute;
  top: 9px;
  right: 20px;
  line-height: 24px;
  font-size: 24px;
  color: #ffffff;
}
.header .header-content .header-nav ul li.all-nav .all-nav-content ul li .child-list {
  display: none;
  position: absolute;
  width: 992px;
  left: 234px;
  top: 0;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
}
.header .header-content .header-nav ul li.all-nav .all-nav-content ul li .child-list ul {
  width: 248px;
  padding: 2px 0;
}
.header .header-content .header-nav ul li.all-nav .all-nav-content ul li .child-list ul li {
  width: 265px;
  height: 76px;
}
.header .header-content .header-nav ul li.all-nav .all-nav-content ul li .child-list ul li a {
  padding: 17px 20px;
  line-height: 40px;
  height: 40px;
}
.header .header-content .header-nav ul li.all-nav .all-nav-content ul li .child-list ul li a img {
  float: left;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-right: 12px;
}
.header .header-content .header-nav ul li.all-nav .all-nav-content ul li .child-list ul li a span {
  float: left;
  width: 172px;
  line-height: 40px;
  font-size: 14px;
  color: #333333;
}
.header .header-content .header-nav ul li.all-nav .all-nav-content ul li .child-list ul li a:hover {
  background-color: none;
}
.header .header-content .header-nav ul li.all-nav .all-nav-content ul li .child-list ul li a:hover span {
  color: #ee6700;
}
.header .header-content .header-search-pub {
  position: absolute;
  right: 0;
  height: 50px;
  margin-top: 25px;
}
.header .header-content .header-search-pub form {
  display: block;
  position: relative;
  width: 296px;
  height: 50px;
}
.header .header-content .header-search-pub form .search-inp {
  width: 225px;
  height: 48px;
  border: none;
  font-size: 14px;
  padding: 0 10px;
  border: 1px solid #e0e0e0;
}
.header .header-content .header-search-pub form .submitbtn {
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.header .header-content .header-search-pub form .submitbtn .search-sub {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border: none;
  border: 1px solid #e0e0e0;
}
.header .header-content .header-search-pub form .submitbtn span {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  right: 0;
  top: 0;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}
.header .header-content .header-search-pub form .submitbtn:hover .search-sub {
  background-color: #ee6700;
  border-color: #ee6700;
}
.header .header-content .header-search-pub form .submitbtn:hover span {
  color: #ffffff;
}
.header .header-content .header-search-pub form .hot {
  position: absolute;
  border: 1px solid #ee6700;
  width: 245px;
  top: 49px;
}
.header .header-content .header-search-pub form .hot li a {
  display: block;
  height: 30px;
  line-height: 30px;
  padding-left: 15px;
  font-size: 12px;
}
.header .header-content .header-search-pub form .hot li:hover {
  background-color: #fafafa;
}
.header .header-content .header-search {
  position: absolute;
  right: 0;
  height: 50px;
  margin-top: 25px;
}
.header .header-content .header-search form {
  display: block;
  position: relative;
  width: 296px;
  height: 50px;
}
.header .header-content .header-search form .search-inp {
  width: 225px;
  height: 48px;
  border: none;
  font-size: 14px;
  padding: 0 10px;
  border: 1px solid #e0e0e0;
}
.header .header-content .header-search form .submitbtn {
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.header .header-content .header-search form .submitbtn .search-sub {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border: none;
  border: 1px solid #e0e0e0;
}
.header .header-content .header-search form .submitbtn span {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  right: 0;
  top: 0;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}
.header .header-content .header-search form .submitbtn:hover .search-sub {
  background-color: #ee6700;
  border-color: #ee6700;
}
.header .header-content .header-search form .submitbtn:hover span {
  color: #ffffff;
}
.header .header-content .header-search form .hot {
  position: absolute;
  border: 1px solid #ee6700;
  width: 245px;
  top: 49px;
}
.header .header-content .header-search form .hot li a {
  display: block;
  height: 30px;
  line-height: 30px;
  padding-left: 15px;
  font-size: 12px;
}
.header .header-content .header-search form .hot li:hover {
  background-color: #fafafa;
}
.header .header-content .header-search form:hover {
  border-color: #b0b0b0;
}
.header .header-content .header-search form:hover .search-inp {
  border-color: #b0b0b0;
}
.header .header-content .header-search form:hover .search-sub {
  border-color: #b0b0b0;
}
.header .header-content .header-search .hot {
  display: none;
}
.header .header-content .header-search-active {
  position: absolute;
  right: 0;
  height: 50px;
  margin-top: 25px;
}
.header .header-content .header-search-active form {
  display: block;
  position: relative;
  width: 296px;
  height: 50px;
}
.header .header-content .header-search-active form .search-inp {
  width: 225px;
  height: 48px;
  border: none;
  font-size: 14px;
  padding: 0 10px;
  border: 1px solid #e0e0e0;
}
.header .header-content .header-search-active form .submitbtn {
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.header .header-content .header-search-active form .submitbtn .search-sub {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border: none;
  border: 1px solid #e0e0e0;
}
.header .header-content .header-search-active form .submitbtn span {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  right: 0;
  top: 0;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}
.header .header-content .header-search-active form .submitbtn:hover .search-sub {
  background-color: #ee6700;
  border-color: #ee6700;
}
.header .header-content .header-search-active form .submitbtn:hover span {
  color: #ffffff;
}
.header .header-content .header-search-active form .hot {
  position: absolute;
  border: 1px solid #ee6700;
  width: 245px;
  top: 49px;
}
.header .header-content .header-search-active form .hot li a {
  display: block;
  height: 30px;
  line-height: 30px;
  padding-left: 15px;
  font-size: 12px;
}
.header .header-content .header-search-active form .hot li:hover {
  background-color: #fafafa;
}
.header .header-content .header-search-active form .search-inp {
  border-color: #ee6700;
}
.header .header-content .header-search-active form .submitbtn .search-sub {
  border-color: #ee6700;
}
.header .header-content .header-search-active .hot {
  display: block;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}
.clearfix {
  *zoom: 1;
}
